atom-panel.modal {
  @width: 35em;
  @mini-width: 15em;

  .customizable-property(background, opaque-accent);
  .customizable-property(color, accent-text-color);
  .general-transition(background, color;);
  width: @width;
  margin-left: -(@width / 2);
  padding: 1em;

  &.from-top {
    top: 25%;
  }

  &.overlay::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: fade(black, 50);
    z-index: -1;
  }

  &.mini {
    width: @mini-width;
    margin-left: -(@mini-width / 2);
    font-size: .8em;
  }

  h1, .message {
    color: inherit;
  }

  .message {
    padding: 0;
    font-size: inherit;
  }

  atom-text-editor[mini] {
    margin-bottom: .25em;

    .cursor {
      .customizable-property(border-color, accent-text-color) !important;
    }
  }
}
