body {
  font-size: @font-size;
}

atom-workspace {
  background: @base-background-color;
  color: @text-color;
}

.status-bar {
  font-size: @status-bar-font-size;
}

.tab-bar .tab.active,
.panel-heading,
.badge,
.badge.badge-info,
.highlight,
.highlight-info,
.list-group li.selected,
.settings-view .config-menu .nav > li.active > a,
.styleguide-sections > section.collapsed > .section-heading:hover,
.settings-view select.form-control,
.atom-dock-toggle-button .atom-dock-toggle-button-inner,
thead {
  background: @solid-color-background-accent-color;
  color: @solid-color-background-accented-text-color;

  .pure-background-image & {
    background: @image-background-accent-color-translucent;
    color: @image-background-accented-text-color;
  }
}

.tooltip .tooltip-inner {
  background: @solid-color-background-accent-color;
  color: @solid-color-background-accented-text-color;

  .pure-background-image & {
    background: @image-background-accent-color-opaque;
    color: @image-background-accented-text-color;
  }
}

.input-radio,
.input-toggle,
.input-range,
.input-select,
atom-text-editor[mini].editor .selection .region,
::-webkit-scrollbar-thumb {
  background: @solid-color-background-accent-color;

  .pure-background-image & {
    background: @image-background-accent-color-translucent;
  }
}

.btn {
  &, &.btn-primary, &.btn-info {
    background: @solid-color-background-accent-color;
    color: @solid-color-background-accented-text-color;

    &:hover, &:focus, &.selected {
      background: @solid-color-background-accent-color;
      color: @solid-color-background-accented-text-color;
    }

    &:active {
      background: @solid-color-background-accent-color;
      color: @solid-color-background-accented-text-color;
    }
  }
}

.input-checkbox, .settings-view input[type="checkbox"] {
  &, &:checked:active {
    background: @solid-color-background-accent-color;

    .pure-background-image & {
      background: @image-background-accent-color-opaque;
    }
  }
}

.nav > li > a {
  &:hover, &:focus {
    background: @solid-color-background-accent-color !important;
    color: @solid-color-background-accented-text-color !important;

    .pure-background-image & {
      background: @image-background-accent-color-translucent !important;
      color: @image-background-accented-text-color !important;
    }
  }
}

.tab-bar .tab.active.modified:not(:hover) .close-icon {
  background: @solid-color-background-accented-text-color;

  .pure-background-image & {
    background: @image-background-accented-text-color;
  }
}

.list-group, .list-tree {
  .selected {
    &::before {
      background: @solid-color-background-accent-color;

      .pure-background-image & {
        background: @image-background-accent-color-translucent;
      }
    }

    & > .name {
      color: @solid-color-background-accented-text-color;

      .pure-background-image & {
        color: @image-background-accented-text-color;
      }
    }
  }
}

.status-added.selected {
  & > .name, & > .header > .name {
    color: @git-text-color-added;
  }
}

.status-modified.selected {
  & > .name, & > .header > .name {
    color: @git-text-color-modified;
  }
}

.status-ignored.selected {
  & > .name, & > .header > .name {
    color: @git-text-color-ignored;
  }
}

.markdown-preview:not([data-use-github-style]) {
  blockquote, hr {
    border-color: @solid-color-background-accent-color;

    .pure-background-image & {
      border-color: @image-background-accent-color-translucent;
    }
  }
}
