.btn {
  .interactive-transition(background, color;);

  // Ensure buttons don't have borders rounded corners.
  border: none !important;
  border-radius: 0 !important;

  // Fix the "Open config menu" button in the settings sidebar.
  height: auto;
  white-space: normal;

  &, &.btn-primary, &.btn-info {
    .customizable-property(background, accent-color);
    .customizable-property(color, accent-text-color);

    &:hover, &:active, &:focus, &.selected {
      .customizable-property(background, active-accent-color);
      .customizable-property(color, active-accent-text-color);
    }
  }

  // Remove focus outlines.
  &:focus,
  &.focus,
  &:active:focus,
  &.active:focus,
  &:active.focus,
  &.active.focus {
    outline: none;
  }

  // Remove box shadows when active.
  &:active, &.active {
    box-shadow: none;
  }

  // Enforce spacing between buttons in button groups.
  .btn-group > &:not(:last-child) {
    margin-right: 1em;
  }
}
