.item-views > .editor {
  background: none !important;

  .selection .region {
    .customizable-property(background, accent);
    .general-transition(background);
  }

  .gutter {
    .customizable-property(color, subtle-workspace-text-color) !important;
    .general-transition(color);
    background: none !important;

    .line-number {
      &, .icon-right {
        opacity: 1 !important;
      }

      &.cursor-line {
        .customizable-property(background, accent) !important;
        .customizable-property(color, accent-text-color) !important;
        .general-transition(background, color;);
      }

      &.git-line-added {
        border-color: @pure-success-color;
      }

      &.git-line-modified {
        border-color: @pure-warning-color;
      }

      &.git-line-removed, &.git-previous-line-removed {
        &::before {
          border-left-color: @pure-error-color;
        }
      }
    }
  }
}
