.item-views > .editor {
  background: none !important;

  .gutter {
    .customizable-property(color, subtle-workspace-text-color) !important;
    .general-transition(color);
    background: none !important;

    .line-number {
      &, .icon-right {
        opacity: 1 !important;
      }

      &.cursor-line {
        .customizable-property(background, accent) !important;
        .customizable-property(color, accent-text-color) !important;
      }
    }
  }
}
