body {
  background-position: center;
  background-size: cover;
}

atom-workspace {
  .customizable-property(background, workspace-color);
  .customizable-property(color, workspace-text-color);
  .customizable-property(font-size, base-font-size);
  .customizable-property(font-family, font-family);
  .general-transition(background, color, font-size;);
  z-index: 2;
}

::-webkit-scrollbar {
  .customizable-property(width, scrollbar-width);
  .general-transition(width);
}

::-webkit-scrollbar-thumb {
  .customizable-property(background, accent);
  .general-transition(background);
}

// Style links.
atom-pane-container a,
.link,
.settings-view .link,
.settings-view .package-card .meta-user .author,
.welcome a {
  color: inherit;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

label {
  // Reduce font weight
  font-weight: normal;
}

code {
  .customizable-property(background, accent);
  .general-transition(background);
}

th, td {
  border: none !important;
}

th {
  font-weight: normal;
}

pre {
  white-space: pre-wrap;
}

.section-heading {
  font-weight: normal !important;

  &.icon::before {
    // Attempt to vertically center icons in headings.
    bottom: .25em;
  }
}

// Key bindings for commands in the command pallette.
.key-binding {
  .customizable-property(background, accent);
  .general-transition(background);
  display: inline-block;
  padding: 0 .5em;
  font-family: inherit;
  font-size: .9em;
  letter-spacing: 1px;
}

// Sidebar pane collapse/expand button.
.atom-dock-toggle-button .atom-dock-toggle-button-inner {
  border: none;
}

.alert {
  border: none;
  border-radius: 0;
}

.panel-heading,
.badge,
.badge.badge-info,
.atom-dock-toggle-button .atom-dock-toggle-button-inner,
thead {
  .customizable-property(background, accent);
  .customizable-property(color, accent-text-color);
  .general-transition(background, color;);
}

.nav > li > a {
  &:hover, &:focus {
    .customizable-property(background, accent);
    .customizable-property(color, accent-text-color);
    .general-transition(background, color;);
  }
}
