.input-text,
.input-textarea,
.input-search,
.input-number,
.input-select,
input[type="color"] {
  border: none !important;
}

.input-text,
.input-textarea,
.input-search,
.input-checkbox,
.settings-view input[type="checkbox"],
.input-range,
.input-number,
.input-select {
  border-radius: 0;
}

input[type="color"] {
  background: none !important;
}

.input-text, .input-textarea, .input-search {
  background: @miscellaneous-background-color;
}

.input-radio {
  &:active, &:checked {
    background: white;
  }
}

.input-checkbox, .settings-view input[type="checkbox"] {
  margin-top: 0;

  &, &:checked:active {
    background: pure-customizable-variable(solid-color-background-accent-color);

    .pure-background-image & {
      background: pure-customizable-variable(
        image-background-accent-color-opaque
      );
    }
  }

  &:focus, &:checked {
    box-shadow: none;
  }

  &:active, &:checked {
    background: white;
  }
}

.input-toggle:checked, .input-range::-webkit-slider-thumb {
  background: white;
}

atom-text-editor[mini] {
  padding-left: .5em;
  background-color: @miscellaneous-background-color;
  color: inherit;
  font-family: inherit;

  .settings-view .section & {
    opacity: 1
  }
}

.input-radio,
.input-toggle,
.input-range,
.input-select,
atom-text-editor[mini].editor .selection .region {
  background: pure-customizable-variable(solid-color-background-accent-color);

  .pure-background-image & {
    background: pure-customizable-variable(
      image-background-accent-color-translucent
    );
  }
}
