.input-text,
.input-textarea,
.input-search,
.input-number,
.input-select,
input[type="color"] {
  border: none !important;
}

.input-text,
.input-textarea,
.input-search,
.input-checkbox,
.settings-view input[type="checkbox"],
.input-range,
.input-number,
.input-select {
  border-radius: 0;
}

input[type="color"] {
  background: none !important;
}

.input-text, .input-textarea, .input-search {
  .customizable-property(background, accent-color);
  .general-transition(background);
}

.input-radio {
  &:active, &:checked {
    background: white;
  }
}

.input-checkbox, .settings-view input[type="checkbox"] {
  margin-top: 0;

  &, &:checked:active {
    .customizable-property(background, accent-color);
    .general-transition(background);
  }

  &:focus, &:checked {
    box-shadow: none;
  }

  &:active, &:checked {
    background: white;
  }
}

.input-toggle:checked, .input-range::-webkit-slider-thumb {
  background: white;
}

atom-text-editor[mini] {
  .customizable-property(background, accent-color);
  .general-transition(background);
  padding-left: .5em;
  color: inherit;
  font-family: inherit;

  .settings-view .section & {
    opacity: 1
  }

  div:not(.region) {
    background: none !important;
  }
}

.input-radio,
.input-toggle,
.input-range,
.input-select,
atom-text-editor[mini].editor .selection .region {
  .customizable-property(background, active-accent-color);
  .general-transition(background);
}
