.list-group li {
  padding-left: @component-padding;

  &.selected:before {
    display: none;
  }
}

.select-list {
  li {
    padding: @component-padding / 2 @component-padding;
  }

  .status {
    float: right;
  }
}

.select-list.popover-list {
  padding: @component-padding / 2;
  background-color: @base-background-color;

  .list-group {
    margin-top: @component-padding / 2;

    li {
      padding-left: @component-padding / 2;
    }
  }
}

.list-group, .list-tree {
  .selected {
    &::before {
      height: 28px;
      background: pure-customizable-variable(
        solid-color-background-accent-color
      );

      .pure-background-image & {
        background: pure-customizable-variable(
          image-background-accent-color-translucent
        );
      }
    }

    & > .name {
      color: pure-customizable-variable(
        solid-color-background-accented-text-color
      );

      .pure-background-image & {
        color: pure-customizable-variable(image-background-accented-text-color);
      }
    }
  }

  .icon::before {
    top: 0;
  }
}

.tree-view {
  & > .entry:first-child {
    padding-top: 0;
  }

  .entry {
    padding: 3px 0;
  }

  :not(.status-added):not(.status-modified):not(.status-ignored) {
    &.file, &.directory > .header {
      & > .name {
        color: @text-color;
      }
    }
  }
}
