.tooltip {
  .tooltip-inner {
    padding: @component-padding / 2 @component-padding;
    border-radius: 0;

    // Ensure tooltips don't wrap.
    max-width: none;
    white-space: nowrap;

    background: pure-customizable-variable(solid-color-background-accent-color);
    color: pure-customizable-variable(
      solid-color-background-accented-text-color
    );

    .pure-background-image & {
      background: pure-customizable-variable(
        image-background-accent-color-opaque
      );
      color: pure-customizable-variable(image-background-accented-text-color);
    }
  }

  &.in {
    // Stop tab tooltips (and potentially others) from being translucent.
    opacity: 1;
  }

  .tooltip-arrow {
    // If tooltip arrows are made visible, they will need to be styled to be
    // the same color as the rest of the tooltip.
    display: none;
  }

  .keystroke {
    padding: .1em .4em;
    background: @miscellaneous-background-color;
  }
}
