.settings-view {
  .section:not(.themes-panel) {
    width: 75%;
    margin: 0 auto;
    border: none;
  }

  .config-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: @pure-maximum-tab-width;
    max-width: initial;
    padding: 0;
    border: none;
    background: none;

    .nav > li {
      & > a {
        .interactive-transition(background, color;);
      }

      &.active > a {
        .customizable-property(background, accent);
        .customizable-property(color, accent-text-color);
        .general-transition(background, color;);
      }
    }
  }

  .section-heading, .sub-section-heading {
    text-align: center;

    &.icon::before {
      margin-right: 1em;
    }
  }

  .control-label {
    margin-bottom: .5em;
  }

  .package-card {
    .interactive-transition(background);
    border: none;
    border-radius: 0;

    &:hover {
      .customizable-property(background, accent);
      .general-transition(background);
    }

    .icon {
      color: inherit !important;
    }
  }

  .package-detail {
    .package-card {
      padding: 0;

      &:hover {
        background: none;
      }
    }

    .repo-link {
      margin-bottom: 1.5em;
      margin-left: 0;
    }

    .text {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1em;
    }

    .btn-wrap-group {
      text-align: center;
    }
  }

  .alert-info {
    background: none;
    color: inherit;
    text-align: center
  }

  .breadcrumb {
    padding: 1.5em 1.5em 0;
    text-align: center;
  }

  .sub-section .sub-section-heading, .packages .themes-label {
    font-weight: normal;
  }

  .checkbox, .color {
    .setting-title {
      line-height: 1;
    }
  }

  // Styles for keymap tables.
  .table {
    th, td {
      text-align: center;
      // Stop tables from overflowing the panel horizontally.
      white-space: normal;
    }
  }

  .themes-picker-item, .text {
    text-align: center;
  }

  .updates-heading-container {
    flex-direction: column;
  }

  .sub-section {
    .sub-section-heading.has-items::after {
      // The Octicons code for triangle-down.
      content: "\f05b";
      margin-top: .25em;
      color: inherit;
    }

    &.collapsed .sub-section-heading.has-items::after {
      // The Octicons code for triangle-up.
      content: "\f0aa";
    }
  }

  .link {
    &, &:hover, &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }

  input[type="color"] {
    .customizable-property(background, workspace-text-color);
    .general-transition(background);
    border: none !important;
  }

  input[type="checkbox"] {
    .input-checkbox();
  }
}
