atom-text-editor {
  .placeholder-text {
    .customizable-property(color, subtle-accent-text-color) !important;
    .general-transition(color);
    .interactive-transition(color);
  }

  .cursor {
    border-left: .05em solid !important;
  }
}

atom-text-editor:not([mini]) {
  background: none !important;

  .line.cursor-line {
    background: none !important;
  }

  .gutter {
    .customizable-property(color, subtle-workspace-text-color) !important;
    .general-transition(color);
    background: none !important;

    .line-number {
      color: inherit !important;

      &, .icon-right {
        opacity: 1 !important;
      }

      &.cursor-line {
        .customizable-property(background, accent) !important;
        .customizable-property(color, accent-text-color) !important;
        .general-transition(background, color;);
      }

      &.git-line-added {
        border-color: @pure-success-color !important;
      }

      &.git-line-modified {
        border-color: @pure-warning-color !important;
      }

      &.git-line-removed, &.git-previous-line-removed {
        &::before {
          border-left-color: @pure-error-color !important;
        }
      }
    }
  }

  .selection .region {
    .customizable-property(background, accent) !important;
    .general-transition(background);
  }

  .cursor {
    .customizable-property(border-color, workspace-text-color) !important;
  }
}

atom-text-editor[mini] {
  .customizable-property(background, accent);
  .customizable-property(color, accent-text-color);
  .general-transition(background, color;);
  .interactive-transition(background, color;);
  height: 1.5em;
  padding-left: .5em;
  opacity: 1 !important;
  font-family: inherit;
  font-size: inherit !important;

  .selection .region {
    .customizable-property(background, opaque-accent) !important;
    .customizable-property(color, accent-text-color) !important;
    .general-transition(background, color;);
    .interactive-transition(background, color;);
  }

  &:hover, &.is-focused {
    .customizable-property(background, active-accent);
    .customizable-property(color, active-accent-text-color);

    .placeholder-text {
      .customizable-property(color, subtle-active-accent-text-color) !important;
    }
  }

  div {
    height: inherit !important;
  }

  div:not(.region) {
    background: none !important;
  }

  atom-panel.modal &, .select-list & {
    height: 1.5em;
    background: none;
    padding-left: 0;
    font-size: 2em !important;
  }

  .cursor {
    .customizable-property(border-color, active-accent-text-color) !important;
  }
}
