.pure-background-images-view {
  padding: 2em;
  overflow: auto;
  text-align: center;
}

.pure-background-images-view-default-list,
.pure-background-images-view-custom-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;
}

.pure-background-images-view-custom {
  position: relative;
}

.pure-background-images-view-thumbnail {
  .interactive-transition(background);
  position: relative;
  padding: @pure-background-images-view-thumbnail-padding;

  &:not(.pure-background-images-view-thumbnail-selected) {
    cursor: pointer;

    &:hover {
      .customizable-property(background, accent);
    }
  }

  &.pure-background-images-view-thumbnail-selected {
    .customizable-property(background, active-accent);
  }

  &.pure-background-images-view-thumbnail-loading {
    display: none;
  }
}

.pure-background-images-view-thumbnail-delete-button {
  .interactive-transition(visibility, opacity;);
  position: absolute;
  right: @pure-background-images-view-thumbnail-padding;
  visibility: hidden;
  opacity: 0;

  .pure-background-images-view-thumbnail:hover & {
    visibility: visible;
    opacity: 1;
  }

  .icon::before {
    margin: 0;
  }
}

.pure-background-images-view-thumbnail-image {
  width: 150px;
}

.pure-background-images-view-custom-drop-zone {
  .customizable-property(background, accent);
  .interactive-transition(visibility, opacity;);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;

  &.pure-background-images-view-custom-drop-zone-active {
    visibility: visible;
    opacity: 1;
  }
}

.pure-background-images-view-custom-browse-button {
  margin: 0 .5em;
}

.pure-background-images-view-loading {
  .pure-background-images-view-thumbnail,
  .pure-background-images-view-custom-add-image-message {
    display: none;
  }
}

.pure-background-images-view-thumbnail-loading {
  display: none;
}
