body {
  color: @text-color;
  background-color: @base-background-color;
}

th, td {
  border: none !important;
}

a:focus {
  outline: none;
}

atom-pane-container a,
.link,
.settings-view .link,
.settings-view .package-card .meta-user .author {
  color: @text-color;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-corner {
  display: none;
}

pre {
  white-space: pre-wrap;
}

label {
  margin-bottom: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal !important;
}

code {
  background: @miscellaneous-background-color;
}
