/* This file is loaded separately with JavaScript and injected into the page.
 * Values beginning with @ represent variables to be manually replaced later.
 */

body, .tab-bar .tab {
    font-size: @main-font-size;
}

.status-bar {
    font-size: @status-bar-font-size;
}

.btn,
.btn.btn-primary,
.btn.btn-info,
.input-radio,
.input-checkbox,
.input-checkbox:checked:active,
.settings-view input[type="checkbox"],
.settings-view input[type="checkbox"]:checked:active,
.input-toggle,
.input-range,
.panel-heading,
.tooltip .tooltip-inner,
.badge.badge-info,
::-webkit-scrollbar-thumb {
    background: @secondary-background-color;
}

.btn:hover,
.btn:focus,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.selected,
.btn.btn-primary.selected,
.btn.btn-info.selected {
    background: @standard-button-hover-focus-color;
}

.btn:active,
.btn.btn-primary:active,
.btn.btn-info:active {
    background: @standard-button-active-color;
}
