.button-color(@background-color) {
  @lighter-background-color: lighten(@background-color, 10%);
  @darker-background-color: darken(@background-color, 10%);

  background-color: @background-color;
  color: contrast(@background-color);

  &:hover, &:focus, &.selected {
    background-color: @lighter-background-color;
    color: contrast(@lighter-background-color);
  }

  &:active {
    background-color: @darker-background-color;
    color: contrast(@darker-background-color);
  }
}

.git-text-color(@color) {
  & > .name, & > .header > .name {
    color: @color;
  }
}

.loading-spinner(@size) {
  display: block;
  width: @size;
  height: @size;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: @size @size;

  &.inline-block {
    display: inline-block;
  }
}

.generate-ui-site-styles(@number, @i: 1) when (@i <= @number) {
  @background-variable-name: "ui-site-color-@{i}";

  .ui-site-@{i} {
    background: @@background-variable-name;
  }

  .generate-ui-site-styles(@number, @i + 1);
}
