.button-color(@background) {
    background-color: @background;

    &:hover, &:focus {
        background-color: lighten(@background, 5%);
    }

    &:active {
        background-color: darken(@background, 5%);
    }

    &.selected {
        background-color: lighten(@background, 5%);
    }
}

.git-text-color(@color) {
    & > .name, & > .header > .name {
        color: @color;
    }
}

.loading-spinner(@size) {
    display: block;
    width: @size;
    height: @size;
    background-image: url(images/octocat-spinner-128.gif);
    background-repeat: no-repeat;
    background-size: @size @size;

    &.inline-block {
        display: inline-block;
    }
}

.highlight-mixin(@color) {
    padding: 1px 4px;
    background-color: @color;
    font-weight: normal;
    border-radius: 0;
}

.generate-ui-site-styles(@number, @i: 1) when (@i <= @number) {
    @background-variable-name: "ui-site-color-@{i}";

    .ui-site-@{i} {
        background: @@background-variable-name;
    }

    .generate-ui-site-styles(@number, @i + 1);
}
