.text-smaller {
  font-size: smaller;
}

.text-subtle {
  color: @text-color-subtle;
}

.text-info {
  color: @text-color-info;
}

.text-success {
  color: @text-color-success;
}
.text-warning {
  color: @text-color-warning;
}

.text-error {
  color: @text-color-error;
}

.highlight, .highlight-info {
  padding: 1px 4px;
  font-weight: normal;
  border-radius: 0;
}

.highlight-warning {
  .highlight;
  background: @background-color-warning;
}

.highlight-error {
  .highlight;
  background: @background-color-error;
}

.highlight-success {
  .highlight;
  background: @background-color-success;
}
