.text-smaller {
    font-size: smaller;
}

.text-subtle {
    color: @text-color-subtle;
}

.text-info {
    color: @text-color-info;
}

.text-success {
    color: @text-color-success;
}
.text-warning {
    color: @text-color-warning;
}

.text-error {
    color: @text-color-error;
}

.highlight {
    padding: 1px 4px;
    font-weight: normal;
    border-radius: 0;
}

.highlight-warning {
    background: @background-color-warning;
}

.highlight-error {
    background: @background-color-error;
}

.highlight-success {
    background: @background-color-success;
}
