@import "customizable-variables";

@app-background-color: @base-background-color;

// Custom variable
@miscellaneous-background-color: lighten(@base-background-color, 15%);

@text-color-subtle: darken(@text-color, 30%);
@text-color-highlight: @text-color;
@text-color-selected: @text-color;
@text-color-info: #6494ed;
@text-color-success: #73c990;
@text-color-warning: #e2c08d;
@text-color-error: #ff6347;

@git-text-color-added: @text-color-success;
@git-text-color-modified: @text-color-warning;
@git-text-color-removed: @text-color-error;
@git-text-color-renamed: @text-color-info;
@git-text-color-ignored: @text-color-subtle;

@background-color-highlight: @solid-color-background-accent-color;
@background-color-selected: @solid-color-background-accent-color;
@background-color-info: #0088ff;
@background-color-success: #1c9c71;
@background-color-warning: #cc8533;
@background-color-error: #d92626;

@button-background-color: @solid-color-background-accent-color;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: @button-background-color-hover;

@tab-height: 2.5em;
@tab-background-color: @tab-bar-background-color;
@tab-background-color-active: @solid-color-background-accent-color;

@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
@input-font-size: 14px;

@component-padding: .5em;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@disclosure-arrow-size: 12px;

@ui-site-color-1: #0088ff;
@ui-site-color-2: #20b684;
@ui-site-color-3: #cc8533;
@ui-site-color-4: #d831b0;
@ui-site-color-5: #ebdd5b;

@base-border-color: red;
@tree-view-border-color: @base-border-color;
@tool-panel-border-color: @base-border-color;
@pane-item-border-color: @base-border-color;
@input-border-color: @base-border-color;
@inset-panel-border-color: @base-border-color;
@panel-heading-border-color: @base-border-color;
@overlay-border-color: @base-border-color;
@tab-bar-border-color: @base-border-color;
@button-border-color: @base-border-color;
@tab-border-color: @base-border-color;

@pane-item-background-color: transparent;
@input-background-color: @base-background-color;
@tool-panel-background-color: transparent;
@inset-panel-background-color: transparent;
@panel-heading-background-color: @miscellaneous-background-color;
@overlay-background-color: @base-background-color;
@tab-bar-background-color: @base-background-color;
@tree-view-background-color: transparent;

// Custom variables
@tab-maximum-width: 12.5em;
@tab-top-and-bottom-padding: .5em;
@tab-left-and-right-padding: 25px;

@settings-padding: @component-padding * 3;
