// This file is not actually used by Pure, and exists only because Atom depends
// on it.
// This structure of this file should mirror the structure of
// atom/static/variables/ui-variables.less, and the values here should be
// sensible defaults based on the information that is available.
// These values cannot be relied upon for styling as they are not customizable,
// but Atom and third-party packages can ideally use them to present reasonable
// interfaces when Pure does not provide its own styles.

@import "variables";

@text-color: @pure-workspace-text-color;
@text-color-subtle: @pure-subtle-workspace-text-color;
@text-color-highlight: @pure-workspace-text-color;
@text-color-selected: @pure-accent-text-color;

@text-color-info: @pure-info-color;
@text-color-success: @pure-success-color;
@text-color-warning: @pure-warning-color;
@text-color-error: @pure-error-color;

@background-color-info: @pure-info-color;
@background-color-success: @pure-success-color;
@background-color-warning: @pure-warning-color;
@background-color-error: @pure-error-color;
@background-color-highlight: @pure-accent;
@background-color-selected: @pure-accent;

@app-background-color: @pure-app-color;

@base-background-color: transparent;
@base-border-color: transparent;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: @pure-accent;
@input-border-color: @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: @base-background-color;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: @pure-accent;
@panel-heading-border-color: @base-border-color;

@overlay-background-color: @app-background-color;
@overlay-border-color: @base-border-color;

@button-background-color: @pure-accent;
@button-background-color-hover: @pure-active-accent;
@button-background-color-selected: @pure-active-accent;
@button-border-color: @base-border-color;

@tab-bar-background-color: @base-background-color;
@tab-bar-border-color: @base-border-color;
@tab-background-color: @base-background-color;
@tab-background-color-active: @pure-accent;
@tab-border-color: @base-border-color;

@tree-view-background-color: @base-background-color;
@tree-view-border-color: @base-border-color;

@ui-site-color-1: @pure-success-color;
@ui-site-color-2: @pure-info-color;
@ui-site-color-3: @pure-warning-color;
@ui-site-color-4: #db2ff4;
@ui-site-color-5: #f5e11d;

@font-size: @pure-base-font-size;
@input-font-size: @font-size;

@disclosure-arrow-size: .8em;

@component-padding: .5em;
@component-icon-padding: .3em;
@component-icon-size: 1em;
@component-line-height: 1.5em;
@component-border-radius: 0;

@tab-height: 2.5em;

@font-family: @pure-font-family;
@use-custom-controls: true;
