@main-font-size: 16px;
@status-bar-font-size: .9em;
@secondary-background-color: lighten(black, 30%);
@standard-button-hover-focus-color: lighten(@secondary-background-color, 5%);
@standard-button-active-color: darken(@secondary-background-color, 5%);
