@main-font-size: 16px;
@status-bar-font-size: .9em;

@secondary-color: lighten(black, 30%);
@secondary-color-first-shade: lighten(@secondary-color, 10%);
@secondary-color-second-shade: darken(@secondary-color, 10%);

@secondary-color-text-color: white;
@secondary-color-first-shade-text-color: @secondary-color-text-color;
@secondary-color-second-shade-text-color: @secondary-color-text-color;

@git-text-color-added-selected: #73c990;
@git-text-color-modified-selected: #e2c08d;
@git-text-color-removed-selected: #ff6347;
@git-text-color-renamed-selected: #6494ed;
@git-text-color-ignored-selected: #b3b3b3;
