@import "customizable-variables";

@pure-maximum-tab-width: 13.5em;
@pure-background-images-view-thumbnail-padding: 1em;

@pure-general-transition-duration: 1s;
@pure-interactive-transition-duration: .2s;

@pure-info-color: #5293d8;
@pure-success-color: #1fe977;
@pure-warning-color: #f78a46;
@pure-error-color: #c00;
