@import 'customizable-variables';

@pure-maximum-tab-width: 13.5em;
@pure-background-images-view-thumbnail-padding: 1em;

@pure-general-transition-duration: 1s;
@pure-interactive-transition-duration: .15s;

@pure-info-color: #2d98da;
@pure-success-color: #20bf6b;
@pure-warning-color: #fa8231;
@pure-error-color: #eb3b5a;

@pure-about-spacing: .5em;
